<section class="first-screen">
    <div class="container">
       <div class="row">
        <div class="col-lg-5">
            <h1 class="first-screen__title">ЧИТЫ НА P <i class="first-screen__title-icon"></i> UBG
                ЛУЧШИЕ НА РЫНКЕ
                БЕЗ БАНА!</h1>
            <div class="first-screen__description">
                <p>
                    Лучшие сборки на рынке, проверенные опытом и временем, а также,
                    оптимальное соотношение цены, надежности и производительности
                </p>
                <p>
                    Самая низкая цена за мегахеш
                </p>
            </div>
    
            <div class="btn-row">
               <a href="#" class="btn btn-primary"> primary</a>
               <a href="#" class="btn btn-success"> btn-success</a>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="first-screen__img-box">
                <img src="assets/img/first-screen__auto.png" class="img-fluid" alt="first-screen__auto">
            </div>
        </div>
       </div>
    </div>
</section>
