<section class="first-screen">
    <div class="container">
        <h1 class="first-screen__title">ЧИТЫ НА P <i></i> UBG
            ЛУЧШИЕ НА РЫНКЕ
            БЕЗ БАНА!</h1>
        <div class="description">
            <p>
                Лучшие сборки на рынке, проверенные опытом и временем, а также,
                оптимальное соотношение цены, надежности и производительности
            </p>
            <p>
                Самая низкая цена за мегахеш
            </p>
        </div>

        <div class="btn-row">
           <a href="#" class="btn btn-primary"> primary</a>
           <a href="#" class="btn btn-success"> btn-success</a>
        </div>
    </div>
</section>
