
<footer>
	<nav class="nav nav-footer">
        <li><a href="index.html">Главная</a></li>
        <li><a href="tarif.html">Тарифы</a></li>
        <li><a href="testimonials.html">Отзывы</a></li>
    </nav>
</footer>
		@@include('modals.html')
		<script defer src="assets/js/bootstrap.min.js"></script>
		<script defer src="assets/js/slick.min.js"></script>
    <script async src="assets/js/jquery.fancybox.min.js"></script>
		<script defer src="assets/js/jquery.nice-select.min.js"></script>
		<script async src="assets/js/global.js"></script>
    
</body>
</html>