<section class="tariffs">
    <div class="container">
        <h2 class="section-title after-before ">ТАРИФЫ</h2>
        <div class="tariffs-tabs">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"> <div class="nav-link__icon"><img src="assets/img/icon-windows.svg" class="img-fluid" alt="icon-windows"></div> Windows</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> <div class="nav-link__icon"><img src="assets/img/icon-android.svg" class="img-fluid" alt="icon-android"></div> Android</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"> <div class="nav-link__icon"><img src="assets/img/icon-ios.svg" class="img-fluid" alt="icon-ios"></div> iOS</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row">
                    <div class="col-lg-4">
                        <div class="tariff-item">
                          <div class="tariff-item__category category--blue">
                            ОБЫЧНАЯ
                          </div>
                          <div class="tariff-item__attr">
                              <h2>1 месяц</h2>
                              <ul>
                                <li>Весь функционал чита + NEW</li>
                                <li>Все обновления + BETA тест</li>
                                <li>Поддержка 24/7</li>
                                <li>Самый мощный Анти-Бан</li>
                                <li>Максимальная оптимизация</li>
                                <li>Запуск на других телефонах</li>
                                <li>DPI+,  ASN, SKK</li>
                              </ul>
                              <div class="tariff-item__attr-price">649</div>
                          </div>
                          <a href="#" class="btn btn-primary"> primary</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="tariff-item">
                        <div class="tariff-item__category category--purple">
                          ОБЫЧНАЯ
                        </div>
                        <div class="tariff-item__attr">
                            <h2>1 месяц</h2>
                            <ul>
                              <li>Весь функционал чита + NEW</li>
                              <li>Все обновления + BETA тест</li>
                              <li>Поддержка 24/7</li>
                              <li class="false">Самый мощный Анти-Бан</li>
                              <li class="false">Максимальная оптимизация</li>
                              <li>Запуск на других телефонах</li>
                              <li>DPI+,  ASN, SKK</li>
                            </ul>
                            <div class="tariff-item__attr-price">649</div>
                        </div>
                        <a href="#" class="tariff-item__link">
                          Приобрести
                        </a>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="tariff-item">
                      <div class="tariff-item__category category--red">
                        ОБЫЧНАЯ
                      </div>
                      <div class="tariff-item__attr">
                          <h2>1 месяц</h2>
                          <ul>
                            <li>Весь функционал чита + NEW</li>
                            <li>Все обновления + BETA тест</li>
                            <li>Поддержка 24/7</li>
                            <li>Самый мощный Анти-Бан</li>
                            <li class="false">Максимальная оптимизация</li>
                            <li class="false">Запуск на других телефонах</li>
                            <li class="false">DPI+,  ASN, SKK</li>
                          </ul>
                          <div class="tariff-item__attr-price">649</div>
                      </div>
                      <a href="#" class="tariff-item__link">
                        Приобрести
                      </a>
                    </div>
                </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><div class="row">
                    <div class="col-lg-4">
                        <div class="tariff-item">
                          <div class="tariff-item__category category--blue">
                            ОБЫЧНАЯ 2
                          </div>
                          <div class="tariff-item__attr">
                              <h2>1 месяц</h2>
                              <ul>
                                <li>Весь функционал чита + NEW</li>
                                <li>Все обновления + BETA тест</li>
                                <li>Поддержка 24/7</li>
                                <li>Самый мощный Анти-Бан</li>
                                <li>Максимальная оптимизация</li>
                                <li>Запуск на других телефонах</li>
                                <li>DPI+,  ASN, SKK</li>
                              </ul>
                              <div class="tariff-item__attr-price">649</div>
                          </div>
                          <a href="#" class="tariff-item__link">
                            Приобрести
                          </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="tariff-item">
                        <div class="tariff-item__category category--purple">
                          ОБЫЧНАЯ
                        </div>
                        <div class="tariff-item__attr">
                            <h2>1 месяц</h2>
                            <ul>
                              <li>Весь функционал чита + NEW</li>
                              <li>Все обновления + BETA тест</li>
                              <li>Поддержка 24/7</li>
                              <li class="false">Самый мощный Анти-Бан</li>
                              <li class="false">Максимальная оптимизация</li>
                              <li>Запуск на других телефонах</li>
                              <li>DPI+,  ASN, SKK</li>
                            </ul>
                            <div class="tariff-item__attr-price">649</div>
                        </div>
                        <a href="#" class="tariff-item__link">
                          Приобрести
                        </a>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="tariff-item">
                      <div class="tariff-item__category category--red">
                        ОБЫЧНАЯ
                      </div>
                      <div class="tariff-item__attr">
                          <h2>1 месяц</h2>
                          <ul>
                            <li>Весь функционал чита + NEW</li>
                            <li>Все обновления + BETA тест</li>
                            <li>Поддержка 24/7</li>
                            <li>Самый мощный Анти-Бан</li>
                            <li class="false">Максимальная оптимизация</li>
                            <li class="false">Запуск на других телефонах</li>
                            <li class="false">DPI+,  ASN, SKK</li>
                          </ul>
                          <div class="tariff-item__attr-price">649</div>
                      </div>
                      <a href="#" class="tariff-item__link">
                        Приобрести
                      </a>
                    </div>
                </div>
                  </div></div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><div class="row">
                    <div class="col-lg-4">
                        <div class="tariff-item">
                          <div class="tariff-item__category category--blue">
                            ОБЫЧНАЯ
                          </div>
                          <div class="tariff-item__attr">
                              <h2>1 месяц</h2>
                              <ul>
                                <li>Весь функционал чита + NEW</li>
                                <li>Все обновления + BETA тест</li>
                                <li>Поддержка 24/7</li>
                                <li>Самый мощный Анти-Бан</li>
                                <li>Максимальная оптимизация</li>
                                <li>Запуск на других телефонах</li>
                                <li>DPI+,  ASN, SKK</li>
                              </ul>
                              <div class="tariff-item__attr-price">649</div>
                          </div>
                          <a href="#" class="tariff-item__link">
                            Приобрести
                          </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="tariff-item">
                        <div class="tariff-item__category category--purple">
                          ОБЫЧНАЯ
                        </div>
                        <div class="tariff-item__attr">
                            <h2>1 месяц</h2>
                            <ul>
                              <li>Весь функционал чита + NEW</li>
                              <li>Все обновления + BETA тест</li>
                              <li>Поддержка 24/7</li>
                              <li class="false">Самый мощный Анти-Бан</li>
                              <li class="false">Максимальная оптимизация</li>
                              <li>Запуск на других телефонах</li>
                              <li>DPI+,  ASN, SKK</li>
                            </ul>
                            <div class="tariff-item__attr-price">649</div>
                        </div>
                        <a href="#" class="tariff-item__link">
                          Приобрести
                        </a>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="tariff-item">
                      <div class="tariff-item__category category--red">
                        ОБЫЧНАЯ
                      </div>
                      <div class="tariff-item__attr">
                          <h2>1 месяц</h2>
                          <ul>
                            <li>Весь функционал чита + NEW</li>
                            <li>Все обновления + BETA тест</li>
                            <li>Поддержка 24/7</li>
                            <li>Самый мощный Анти-Бан</li>
                            <li class="false">Максимальная оптимизация</li>
                            <li class="false">Запуск на других телефонах</li>
                            <li class="false">DPI+,  ASN, SKK</li>
                          </ul>
                          <div class="tariff-item__attr-price">649</div>
                      </div>
                      <a href="#" class="tariff-item__link">
                        Приобрести
                      </a>
                    </div>
                </div>
                  </div></div>
              </div>
        </div>
    </div>
</section>