.first-screen {
    margin-top: -126px;
    padding: 370px 12px;
    background: url(assets/img/first-screen.png) center/cover no-repeat;

    i {
        width: 59px;
        height: 58px;
        background: url(assets/img/i.svg) center no-repeat;
    }
}